/* src/Navbar.css */

.custom-navbar {
  background-color: #000000 !important;
}

.custom-offcanvas {
  background-color: #000000 !important; /* Set background color to black */
  color: white; /* Optional: Set text color to white for better readability */
}

.custom-offcanvas .offcanvas-header {
  border-bottom: 1px solid #fff; /* Optional: Add a border for better separation */
}

.custom-offcanvas .nav-link {
  color: white !important; /* Ensure nav links are visible on black background */
}

.custom-offcanvas .nav-link:hover {
  color: #ff6600 !important; /* Optional: Change color on hover */
}
.custom-offcanvas .btn-close {
  filter: invert(1); /* Invert the color of the close button icon */
}

.extra-links {
  margin-top: 1rem; /* Optional spacing */
}

.extra-links.hide {
  display: none;
}

.extra-links.show {
  display: block;
}

.navbar-nav .nav-link {
  margin-left: 15px; /* Adjust the value as needed */
}

.navbar-nav .nav-link:last-child {
  margin-left: 0; /* Remove margin from the last link */
}
