/* NavbarSecondary.css */

.navbar-secondary {
  background-color: #333333;
  padding: 10px;
}

.navbar-secondary-list {
  margin-left: 10rem;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
}

.navbar-secondary-list li {
  display: inline;
  position: relative;
}

.navbar-secondary-list li:not(:last-child)::after {
  content: "|";
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-secondary-list a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.navbar-secondary-list a:hover {
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .navbar-secondary {
    display: none;
  }
}
